{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Tara Furstenau" />
    <title>VaST</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/navbar-fixed/"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'targets/assets/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'targets/assets/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'targets/assets/favicon-16x16.png' %}"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />

    <link href="{% static 'targets/css/styles.css' %}" rel="stylesheet" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .feather {
        width: 18px;
        height: 18px;
        vertical-align: text-middle;
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="{% static 'targets/css/styles.css' %}" rel="stylesheet" />
    {% block head %}{% endblock head %}
  </head>
  <body>
    <nav
      class="navbar navbar-expand-md navbar-dark sticky-top"
      style="background-color: #151e3d"
    >
      <div class="container-fluid ps-5">
        <a class="navbar-brand" href="{% url 'targets:index' %}"
          ><img
            src="{% static 'targets/assets/vast_logo.png' %}"
            width="60"
            height="45"
            alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarCollapse"
        >
          <ul class="navbar-nav mr-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'targets:project_list' %}"
                >Projects</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'targets:target_collection_list' %}"
                >Targets</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="#"
                >Primers</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="#"
                >Analysis</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse mt-5">
        
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'targets:index' %}">
                  <span data-feather="home"></span>
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'targets:project_list' %}">
                  <span data-feather="archive"></span>
                  Projects
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'targets:target_collection_list' %}">
                  <span data-feather="target"></span>
                  Target Collections
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="align-center"></span>
                  Primers
                </a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="pie-chart"></span>
                  Analysis
                </a>
              </li>
    
            </ul>
    
          </div>
        </nav>


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 offset-md-3 offset-lg-2 px-md-4 mt-4 mb-4 pb-4">

  
      {% if messages %} {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %} {% endif %} {% block content %} {% endblock content %}
    </main>

    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 ms-4 me-4 border-top"
      >
        <p class="col-md-4 mb-0 text-muted">
          Project Funding by:<br />Arizona Biomedical Research Centre<br />New
          Investigator Award: CTR056052
        </p>

        <a
          href="{% url 'targets:index' %}"
          class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
        >
          <img
            src="{% static 'targets/assets/vast_logo_blue.png' %}"
            width="60"
            height="45"
            alt=""
          />
        </a>

        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-github"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                /></svg
            ></a>
          </li>
          <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li> -->
        </ul>
      </footer>
    </div>

    {% block js %}{% endblock js %}
    <script src="{% static 'targets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.29.0/dist/feather.min.js"></script>
    <script type="module">
      /* globals Chart:false, feather:false */

      (function () {
        "use strict";

        feather.replace();
      })();
    </script>
    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
  </body>
</html>
