{% extends "targets/base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"/>
{% endblock head %}

{% block content %}
<h1 class="border-bottom">Data Table for Project: {{ project.name }}</h1>
    <div class="d-grid gap-2 d-md-block mt-2 mb-2">
        <a class="btn btn-outline-primary btn" href="{% url 'targets:project_detail' project.id %}" role="button">Project <span data-feather="corner-up-left"></span></a>
        <a class="btn btn-outline-primary btn" href="{% url 'targets:index' %}" role="button">Home <span data-feather="corner-up-left"></span></a>
    </div>
    
    {{ table | safe }}

{% endblock content %}

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.3/js/dataTables.rowGroup.min.js"></script>
<script>
    $(document).ready( function () {
    $('#datatable').DataTable({
      rowReorder: false,
      fixedHeader: true,
      order: [],
      stateSave: true,

      aLengthMenu: [
              [25, 50, 100, 200, -1],
              [25, 50, 100, 200, "All"]
              ],
          iDisplayLength: 25,
      dom: 'B<"clear">lfrtip',
      buttons: {
          name: 'primary',
          
          buttons: [ 
          {
            extend: 'copy',
            title: 'Allele Table'
          },
          {
            extend: 'pdf',
            title: 'Allele Table'
          },
          {
            extend: 'csv',
            title: 'Allele Table'
          },
          {
            extend: 'excel',
            title: 'Allele Table'
          }]
          }}
      );

} );
</script>
{% endblock js %}
