{% extends "targets/base.html" %}
{% block content %}
<div class="bg-light p-3 mt-4 rounded">
    <h1>Start new project</h1>
    <p class="lead">Create a new amplicon variant strain typing panel.</p>
    <a class="btn btn-lg btn-primary" href="{% url 'targets:project_create' %}" role="button">Start &raquo;</a>
</div>
<div class="bg-light p-3 mt-4 rounded">
    <h1>Projects</h1>
    <p class="lead">View existing projects</p>
    <a class="btn btn-lg btn-primary" href="{% url 'targets:project_list' %}" role="button">View &raquo;</a>
</div>


{% endblock content %}