{% extends "targets/base.html" %}
{% block content %}
<div class="card">
    <h1 class="card-header">Project: {{ project.name }}</h1>
    <div class="card-body">
      <p class="card-text"><strong>Description:</strong> {{ project.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
    {% if project.organism.name %}
      <li class="list-group-item"><Strong>Organism:</Strong><a href="{% url 'targets:organism_detail' project.organism.id %}"> {{ project.organism.name }} </a></li>
          {% if project.count_active_loci %}
          <li class="list-group-item"><Strong>Loci:</Strong> <a href="{% url 'targets:locus_list' project.id %}"> {{ project.count_selected_loci }} active / {{ project.count_active_loci }} total</a>
            <a href="{% url 'targets:select_loci' project.id %}"><span><i class="bi bi-pencil-square lm"></i></span></a>
          {% else %}
          <li class="list-group-item"><Strong>Loci:</Strong> <a href="{% url 'targets:add_data' project.id %}"> Add Data </a></li>
          {% endif %}
          {% if project.count_active_genomes %}
          <li class="list-group-item"><Strong>Genomes:</Strong> <a href="{% url 'targets:genome_list' project.id %}"> {{ project.count_selected_genomes }} active / {{ project.count_active_genomes }} total</a>
            <a href="{% url 'targets:select_genomes' project.id %}"><span><i class="bi bi-pencil-square lm"></i></span></a>
          {% else %}
          <li class="list-group-item"><Strong>Genomes:</Strong> <a href="{% url 'targets:add_data' project.id %}"> Add Data </a></li>
          {% endif %}
          {% if project.count_active_metadata %}
          <li class="list-group-item"><Strong>Metadata Categories:</Strong> <a href="{% url 'targets:metacat_list' project.id %}"> {{ project.count_selected_metadata }} active / {{ project.count_active_metadata }} total</a>
            <a href="{% url 'targets:select_metacat' project.id %}"><span><i class="bi bi-pencil-square lm"></i></span></a>
          {% else %}
          <li class="list-group-item"><Strong>Metadata Categories:</Strong> <a href="{% url 'targets:add_data' project.id %}"> Add Data </a></li>
          {% endif %}
          {% if project.count_target_collections %}
          <li class="list-group-item"><Strong>Target Collections:</Strong> <a href="{% url 'targets:target_collection_list' project.id %}"> {{ project.count_target_collections }}</a>
          {% elif project.count_active_loci %}
          <li class="list-group-item"><Strong>Target Collections:</Strong> <a href="{% url 'targets:target_collection_create' project.id %}"> Add Target Collection </a></li>
          {% else %}
          <li class="list-group-item"><Strong>Target Collections:</Strong></li>
          {% endif %}

      {% else %}
        <li class="list-group-item"><Strong>Organism:</Strong><a href="{% url 'targets:select_organism' project.id %}"> Select organism </a></li>
        <li class="list-group-item"><Strong>Loci:</Strong></li>
        <li class="list-group-item"><Strong>Genomes:</Strong></li>
        <li class="list-group-item"><Strong>Metadata Categories:</Strong></li>
        <li class="list-group-item"><Strong>Target Collections:</Strong></li>
      {% endif %}



      <li class="list-group-item"><Strong>Notes:</Strong> {{ project.notes }}</li>
      <li class="list-group-item"><Strong>Created:</Strong> {{ project.created_on }}</li>
    </ul>
</div>
<div class="d-grid gap-0 d-md-block mt-2">
    {% if project.count_active_genomes %}
    <a class="btn btn-primary btn mb-2" href="{% url 'targets:data_list' project.id %}" role="button"><span><i class="bi bi-table rm"></i></span>View Data </a>
    {% endif %}
    <a class="btn btn-primary btn mb-2" href="{% url 'targets:project_update' project.id %}" role="button"><span><i class="bi bi-pencil rm"></i></span>Edit</a>
    <a class="btn btn-outline-primary btn mb-2" href="{% url 'targets:project_create' %}" role="button"><span><i class="bi bi-plus-circle rm"></i></span>Add New Project</a>
    <a class="btn btn-outline-primary btn mb-2" href="{% url 'targets:project_list' %}" role="button"><span><i class="bi bi-list rm"></i></span>Projects</a>
    <a class="btn btn-outline-primary btn mb-2" href="{% url 'targets:index' %}" role="button"><i class="bi bi-house rm"></i>Home</a>
    <a class="btn btn-outline-danger btn mb-2" href="{% url 'targets:project_delete' project.id %}" role="button"><i class="bi bi-trash rm"></i>Delete</a>
</div>

{% endblock content %}