{% extends "targets/base.html" %}
{% block content %}
<div class="card">
    <h1 class="card-header">Target Collection: {{ targetcollection.name }}</h1>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><Strong>Project: </Strong><a href="{% url 'targets:project_detail' targetcollection.project.id %}">{{ targetcollection.project.name }}</a></li>
      {% if targetcollection.count_loci %}
      <li class="list-group-item"><Strong>Targets: </Strong>
        <a href="{% url 'targets:target_collection_targets_list' targetcollection.id %}">{{ targetcollection.count_loci }} </a>
        <a href="{% url 'targets:target_collection_add_targets_opt' targetcollection.id %}"><i class="bi bi-plus-square-fill rm lm"></i></a>
        <a href="{% url 'targets:target_collection_add_targets_man' targetcollection.id %}"><i class="bi bi-pencil-square rm"></i></a>
        <a href="{% url 'targets:target_collection_targets_list' targetcollection.id %}"><i class="bi bi-card-list rm"></i></a>

      </li>
      {% else%}
      <li class="list-group-item"><Strong>Targets:</Strong> None</li>
      {% endif %}
      <li class="list-group-item"><Strong>Description:</Strong> {{ targetcollection.description }}</li>
      <li class="list-group-item"><Strong>Created:</Strong> {{ targetcollection.created_on }}</li>
    </ul>
</div>
<div class="d-grid gap-0 d-md-block mt-2">
    <a class="btn btn-success btn mb-2" href="{% url 'targets:target_collection_add_targets_opt' targetcollection.id %}" role="button"><i class="bi bi-plus-lg rm"></i>Add Targets</a>
    <a class="btn btn-primary btn mb-2" href="{% url 'targets:target_collection_add_targets_man' targetcollection.id %}" role="button"><i class="bi bi-pencil-square rm"></i>Edit Targets</a>
    <a class="btn btn-primary btn mb-2" href="{% url 'targets:target_collection_update' targetcollection.id %}" role="button"><i class="bi bi-pencil rm"></i>Edit Collection</a>
    <a class="btn btn-primary btn mb-2" href="{% url 'targets:target_collection_targets_list' targetcollection.id %}" role="button"><i class="bi bi-list rm"></i>View Targets</a>
    <a class="btn btn-outline-primary btn mb-2" href="{% url 'targets:target_collection_create' %}" role="button"><i class="bi bi-plus-lg rm"></i>Add New Target Collection</a>
    <a class="btn btn-outline-primary btn mb-2" href="{% url 'targets:project_list' %}" role="button"><i class="bi bi-list rm"></i>Projects</a>
    <a class="btn btn-outline-primary btn mb-2" href="{% url 'targets:target_collection_list' %}" role="button"><i class="bi bi-list rm"></i>Target Collections</a>
    <a class="btn btn-outline-primary btn mb-2" href="{% url 'targets:index' %}" role="button"><i class="bi bi-house rm"></i>Home</a>
    <a class="btn btn-outline-danger btn mb-2" href="{% url 'targets:target_collection_delete' targetcollection.id %}" role="button"><i class="bi bi-trash rm"></i>Delete</a>
</div>

{% endblock content %}